body{
background-color: rgb(75, 75, 152);
}
.container{
width:820px;
height: 820px;
margin: 0 auto;
}
.h1{
    color: white;
}
.fersta{
    height: 400px;
    width: 400px;
    float: left;
    border: 5px solid yellow;
}
.andra{
     height: 400px;
    width: 400px;
    float: right;
     border: 5px solid yellow;
}
.tredje{
     height: 400px;
    width: 400px;
    float: left;
     border: 5px solid yellow;
}
.fjarde{
     height: 400px;
    width: 400px;
    float: right;
     border: 5px solid yellow;
}